# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.env

# Python cache
*.pyc
__pycache__/


# Specific folders and large files
datasets/mnist_csv/
datasets/mnist_ubyte/
supervised/train.csv
supervised/test.csv

# large files
*.pkl
*.h5
*.pth
*.pt
*.onnx
*.pb
*.gz
*.zip